<div class="zy-panel">
    <div class="zy-panel-title zy-filter">
        <a>置顶</a>
        <a href="#signin" class="layui-hide-sm layui-show-xs-block zy-right" id="LAY_goSignin"
           style="color: #FF5722;">去签到</a>
    </div>
    #if(data??)
    <ul class="zy-list">
        #for(article:data)
        <li>
            <a href="#(article.url??)" class="zy-avatar">
                <img src="#(article.avatar??)"
                     alt="#(article.nickname??)">
            </a>
            <h2>
                <a class="layui-badge">#(article.catName??)</a>
                <a href="jie/detail.html">#(article.title??)</a>
            </h2>
            <div class="zy-list-info">
                <a href="user/home.html" link>
                    <cite>#(article.nickname??)</cite>
                    <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                    <i class="layui-badge zy-badge-vip">#(article.vipName??)</i>
                </a>
                <span>#date(article.createTime, "yyyy-MM-dd HH:mm:ss")</span>

                <span class="zy-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> #(article.payPoint??0)</span>
                <span class="layui-badge zy-badge-accept layui-hide-xs">#(article.statusName??)</span>
                <span class="zy-list-nums">
                                <i class="iconfont icon-pinglun1" title="回答"></i> #(article.commentNum??)
                            </span>
            </div>
            <div class="zy-list-badge">
                <!--
                <span class="layui-badge layui-bg-black">置顶</span>
                <span class="layui-badge layui-bg-red">精帖</span>
                -->
            </div>
        </li>
        #end
        <!--<li>-->
            <!--<a href="user/home.html" class="zy-avatar">-->
                <!--<img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"-->
                     <!--alt="贤心">-->
            <!--</a>-->
            <!--<h2>-->
                <!--<a class="layui-badge">公告</a>-->
                <!--<a href="article/detail.html">基于 layui 的极简社区页面模版</a>-->
            <!--</h2>-->
            <!--<div class="zy-list-info">-->
                <!--<a href="user/home.html" link>-->
                    <!--<cite>贤心</cite>-->
                    <!--&lt;!&ndash;-->
                    <!--<i class="iconfont icon-renzheng" title="认证信息：XXX"></i>-->
                    <!--<i class="layui-badge zy-badge-vip">VIP3</i>-->
                    <!--&ndash;&gt;-->
                <!--</a>-->
                <!--<span>2017-11-30</span>-->

                <!--<span class="zy-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span>-->
                <!--&lt;!&ndash;<span class="layui-badge zy-badge-accept layui-hide-xs">已结</span>&ndash;&gt;-->
                <!--<span class="zy-list-nums">-->
                                    <!--<i class="iconfont icon-pinglun1" title="回答"></i> 66-->
                             <!--</span>-->
            <!--</div>-->
            <!--<div class="zy-list-badge">-->
                <!--&lt;!&ndash;-->
                <!--<span class="layui-badge layui-bg-black">置顶</span>-->
                <!--<span class="layui-badge layui-bg-red">精帖</span>-->
                <!--&ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="user/home.html" class="zy-avatar">-->
                <!--<img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"-->
                     <!--alt="贤心">-->
            <!--</a>-->
            <!--<h2>-->
                <!--<a class="layui-badge">公告</a>-->
                <!--<a href="article/detail.html">基于 layui 的极简社区页面模版</a>-->
            <!--</h2>-->
            <!--<div class="zy-list-info">-->
                <!--<a href="user/home.html" link>-->
                    <!--<cite>贤心</cite>-->
                    <!--&lt;!&ndash;-->
                    <!--<i class="iconfont icon-renzheng" title="认证信息：XXX"></i>-->
                    <!--<i class="layui-badge zy-badge-vip">VIP3</i>-->
                    <!--&ndash;&gt;-->
                <!--</a>-->
                <!--<span>刚刚</span>-->

                <!--<span class="zy-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span>-->
                <!--&lt;!&ndash;<span class="layui-badge zy-badge-accept layui-hide-xs">已结</span>&ndash;&gt;-->
                <!--<span class="zy-list-nums">-->
                <!--<i class="iconfont icon-pinglun1" title="回答"></i> 66-->
              <!--</span>-->
            <!--</div>-->
            <!--<div class="zy-list-badge">-->
                <!--&lt;!&ndash;-->
                <!--<span class="layui-badge layui-bg-black">置顶</span>-->
                <!--<span class="layui-badge layui-bg-red">精帖</span>-->
                <!--&ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="user/home.html" class="zy-avatar">-->
                <!--<img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"-->
                     <!--alt="贤心">-->
            <!--</a>-->
            <!--<h2>-->
                <!--<a class="layui-badge">公告</a>-->
                <!--<a href="article/detail.html">基于 layui 的极简社区页面模版</a>-->
            <!--</h2>-->
            <!--<div class="zy-list-info">-->
                <!--<a href="user/home.html" link>-->
                    <!--<cite>贤心</cite>-->
                    <!--&lt;!&ndash;-->
                    <!--<i class="iconfont icon-renzheng" title="认证信息：XXX"></i>-->
                    <!--<i class="layui-badge zy-badge-vip">VIP3</i>-->
                    <!--&ndash;&gt;-->
                <!--</a>-->
                <!--<span>刚刚</span>-->

                <!--<span class="zy-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span>-->
                <!--&lt;!&ndash;<span class="layui-badge zy-badge-accept layui-hide-xs">已结</span>&ndash;&gt;-->
                <!--<span class="zy-list-nums">-->
                <!--<i class="iconfont icon-pinglun1" title="回答"></i> 66-->
              <!--</span>-->
            <!--</div>-->
            <!--<div class="zy-list-badge">-->
                <!--&lt;!&ndash;-->
                <!--<span class="layui-badge layui-bg-black">置顶</span>-->
                <!--<span class="layui-badge layui-bg-red">精帖</span>-->
                <!--&ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->
    </ul>
    #else
    <div class="zy-none">没有相关数据</div>
    #end
</div>