
<div class="zy-panel">
    <h3 class="zy-panel-title">温馨通道</h3>
    #if(data??)
    <ul class="zy-panel-main zy-list-static">
        #for(link:data)
        <li>
            <a href="#(link.url??)" target="_blank">#(link.name??)</a>
        </li>
        <!--<li>-->
            <!--<a href="http://zy.layui.com/jie/5366/" target="_blank">-->
                <!--layui 常见问题的处理和实用干货集锦-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="http://zy.layui.com/jie/4281/" target="_blank">layui 的 GitHub 及 Gitee (码云)-->
                <!--仓库，欢迎Star</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="http://zy.layui.com/jie/5366/" target="_blank">-->
                <!--layui 常见问题的处理和实用干货集锦-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="http://zy.layui.com/jie/4281/" target="_blank">layui 的 GitHub 及 Gitee (码云)-->
                <!--仓库，欢迎Star</a>-->
        <!--</li>-->
        #end
    </ul>
    #else
    <!-- 无数据时 -->
    <div class="zy-none">没有相关数据</div>
    #end
</div>