<div class="shoplist-filter">
    <div class="layui-container">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="store-cat-item"><span><i class="layui-icon"></i>软件类别：</span>
                    <ul>
                        <li><a href="/store/cat/0/">全部</a></li>
                        <li><a href="/store/cat/1/">后台管理</a></li>
                        <li class="active"><a href="/store/cat/2/">商城购物</a></li>
                        <li><a href="/store/cat/3/">社区论坛</a></li>
                        <li><a href="/store/cat/4/">主页博客</a></li>
                        <li><a href="/store/cat/5/">企业门户</a></li>
                        <li><a href="/store/cat/6/">资讯头条</a></li>
                        <li><a href="/store/cat/7/">其它模板</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>