<div class="zy-panel zy-rank zy-rank-reply" id="LAY_replyRank">
    <h3 class="zy-panel-title">回贴周榜</h3>
    <dl>
        #if(data??)
        <!--<i class="layui-icon zy-loading">&#xe63d;</i>-->
        #for(hot:data)
        <dd>
            <a href="#(hot.url??)">
                <img src="#(hot.avatar??)"><cite>#(hot.nickname??)</cite><i>#(hot.replyNum??)次回答</i>
            </a>
        </dd>
        #end
        #else
        <!-- 无数据时 -->
        <div class="zy-none">没有相关数据</div>
        #end
    </dl>
</div>