<div class="layui-search">
    <div id="layui-topbar" style="height: auto;">
        <form action="/store/search/" _lpchecked="1">
            <div class="input-search">
                <div><input type="text" placeholder="搜索你需要的模板应用" name="kws" autocomplete="off" value="">
                    <button class="layui-btn layui-btn-shop"><i class="layui-icon layui-icon-search"></i></button>
                    <dl class="layui-hide-sm layui-show-md-inline-block">
                        <dt>热搜：</dt>
                        <dd><a href="/store/search/后台/">后台</a></dd>
                        <dd><a href="/store/search/IM/">IM</a></dd>
                        <dd><a href="/store/search/商城/">商城</a></dd>
                        <dd><a href="/store/search/博客/">博客</a></dd>
                        <dd><a href="/store/search/新闻/">新闻</a></dd>
                        <dd><a href="/store/search/企业/">企业</a></dd>
                        <dd><a href="/store/search/社区/">社区</a></dd>
                        <dd><a href="/store/search/" style="color: #FF5722;">全部</a></dd>
                    </dl>
                </div>
                <div class="layui-container layui-hide-xs"><a href="https://www.layui.com/" class="topbar-logo">
                    <img src="//res.layui.com/static/images/layui/logo-1.png" alt="layui"> </a></div>
            </div>
        </form>
    </div>
</div>