
#if(member.uid??)
<!-- 登入前的状态 -->
<li class="layui-nav-item">
    <a class="fly-nav-avatar" href="javascript:;">
        <cite class="layui-hide-xs">#(member.nickname??)</cite>
        <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
        <i class="layui-badge fly-badge-vip layui-hide-xs">#(member.vipName??)</i>
        <img src="#(member.avatar??'/static/images/avatar/0.jpg')">
    </a>
    <dl class="layui-nav-child">
        <dd><a href="#(ctx)user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
        <dd><a href="#(ctx)user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
        <dd><a href="#(ctx)user/home.html"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
        <hr style="margin: 5px 0;">
        <dd><a href="#(ctx)user/logout/" style="text-align: center;">退出</a></dd>
    </dl>
</li>
#else
<!-- 登入后的状态 -->
<li class="layui-nav-item">
    <a class="iconfont icon-touxiang layui-hide-xs" href="/user/login"></a>
</li>
<li class="layui-nav-item">
    <a href="#(ctx)user/login">登入</a>
</li>
<li class="layui-nav-item">
    <a href="#(ctx)user/reg">注册</a>
</li>
#end



