<!-- 上图下字 -->
<div class="shop-temp shoplist">
    <div class="temp-normal">
        <div class="layui-container">
            <div class="layui-form">
                <div class="layui-input-inline"><select lay-filter="storeOrder">
                    <option value="auto">综合排序</option>
                    <option value="hot">按人气</option>
                </select>
                    <div class="layui-unselect layui-form-select">
                        <div class="layui-select-title"><input type="text" placeholder="请选择" value="综合排序" readonly=""
                                                               class="layui-input layui-unselect"><i
                                class="layui-edge"></i></div>
                        <dl class="layui-anim layui-anim-upbit">
                            <dd lay-value="auto" class="layui-this">综合排序</dd>
                            <dd lay-value="hot" class="">按人气</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space20 shoplist">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2"><a class="template store-list-box"
                                                                                         href="/store/layuiHomeMall/">
                    <img src="//cdn.layui.com/upload/2018_11/168_1541547672289_84484.jpg" class="store-list-cover">
                    <h2 class="layui-elip">简约家居商城模板</h2>
                    <div><label class="layui-badge-rim store-list-pay"> ￥200 </label>
                        <div class="store-list-colorbar" title="棕色调"><span class="store-color-bar"
                                                                           style="background: #794712"></span></div>
                    </div>
                </a></div>
            </div>
        </div>
    </div>
</div>