<div style="margin: 15px; display:none" id="add-form">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span>用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" placeholder="请输入用户名" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span>密码</label>
            <div class="layui-input-inline">
                <input type="text" name="pswd" placeholder="请输入密码" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span>真实姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="realName" placeholder="请输入真实姓名" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span>手机号</label>
            <div class="layui-input-inline">
                <input type="text" name="mobile" placeholder="请输入联系手机号" autocomplete="off" class="layui-input" lay-verify="phone">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系QQ</label>
            <div class="layui-input-inline">
                <input type="text" name="qq" placeholder="请输入联系QQ" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span>联系邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="email" placeholder="请输入联系邮箱" autocomplete="off" class="layui-input" lay-verify="email">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span>是否有效</label>
            <div class="layui-input-inline">
                <input type="checkbox" name="isValid" lay-skin="switch"  lay-text="有效|无效" value=1>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remark" placeholder="请输入备注信息" class="layui-textarea"></textarea>
            </div>
        </div>
    </form>
</div>
