<#include "../../_layout/_layout2.0.html"><#t>
<@header/>
<div style="margin: 15px;">
	<form class="layui-form layui-form-pane" id="save-form">
		<input type="hidden" name="id" value="${data.id!''}" id="groupId">
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>组名称</label>
			<div class="layui-input-block">
				<input type="text" name="name" placeholder="请输入组名称" autocomplete="off" class="layui-input" lay-verify="required" value="${data.name!''}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>组编码</label>
			<div class="layui-input-inline">
				<input type="text" name="code" placeholder="请输入组编码" autocomplete="off" class="layui-input" lay-verify="required" value="${data.code!''}" id="code">
			</div>
			<div class="layui-form-mid layui-word-aux layui-code-msg"></div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label"><span>*</span>组用途</label>
			<div class="layui-input-block">
				<textarea name="purpose" placeholder="请输入备注信息(250个字符之内)" class="layui-textarea" lay-verify="purpose">${data.purpose!''}</textarea>
			</div>
		</div>
	</form>
</div>
<@footer>
<script>
	//入口
	layui.use(['form'], function() {
	    var $ = layui.jquery;
		var form = layui.form;
		$("#code").on('blur',function () {
			var code = $(this).val();
			$.post("${ctx}imageTextGroup/checkCode",{code: code,groupId: $("#groupId").val()},function (result) {
			    var html = "";
				if (result.code == 0) {
                    html = "<span style='color: green;'>该编码可用</span>";
				} else {
                    html = "<span style='color: red;'>该编码不可用</span>";
				}
                $(".layui-code-msg").html(html)
            });
        });
	});
</script>
</@footer>