#include("../layout/_layout.html")
<!-- 导航栏  -->
#define body()
#module("/common/column.html",class="GetCategoryNodes",checked=data.type??'')
<div class="layui-container fly-marginTop">
    <div class="fly-panel" pad20 style="padding-top: 5px;">
        <div class="layui-form layui-form-pane">
            <div class="layui-tab layui-tab-brief" lay-filter="user">
                <ul class="layui-tab-title">
                    <li class="layui-this">编辑帖子</li>
                </ul>
                <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                    <div class="layui-tab-item layui-show">
                        <form action="#(ctx)article/edit" method="post">
                            <div class="layui-row layui-col-space15 layui-form-item">
                                <div class="layui-col-md3">
                                    <label class="layui-form-label">所在专栏</label>
                                    <div class="layui-input-block">
                                        <select name="catId" lay-verify="required" name="class" lay-filter="column" disabled="disabled">
                                            <option></option>
                                            #module("/common/option.html",class="GetArticleCategoryNodes",checked="data.catId")
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-col-md9">
                                    <label for="L_title" class="layui-form-label">标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="L_title" name="title" required lay-verify="required"
                                               autocomplete="off" class="layui-input" value="#(data.title??)">
                                        <input type="hidden" name="aid" value="#(data.aid??)">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block">
                                    <textarea id="L_content" name="info" required lay-verify="required"
                                              placeholder="详细描述" class="layui-textarea fly-editor"
                                              style="height: 260px;">#(data.info??)</textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_vercode" class="layui-form-label">验证码</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_vercode" name="vcode" required lay-verify="required"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid img-code">
                                    <img src="/auth/imagecode" class="fly-imagecode operator-btn" data-type="refreshCode">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="*" lay-submit >立即发布</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .layui-form-mid.img-code {
        position: relative;
        float: left;
        display: block;
        padding: 0px 0 !important;
        line-height: 20px;
        margin-right: 10px;
    }

    img.fly-imagecode {
        position: relative;
        cursor: pointer;
    }
</style>
#end
#define js()
<script>
    layui.use(function () {
        var $ = layui.jquery;
        //绑定操作按钮
        $(document).on('click','.operator-btn', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this,this) : '';
        });

        var active = {
            refreshCode:function (that) {
                let time = new Date();
                $(that).attr("src", "#(ctx)auth/imagecode?time=" + time);
            }
        }
    });
</script>
#end