#include("../layout/_layout.html")
<!-- 导航栏  -->
#define body()
#module("/common/column.html",class="GetCategoryNodes",checked=data.type??'')
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="fly-panel" style="margin-bottom: 0;">
                #include("../common/filter.html")
                <ul class="fly-list">
                    #include("_list.html")
                </ul>
                #@paginate(page.pageNo, page.pageTotal, "/column/list/"+data.type??'all'+"/page/")
            </div>
        </div>
        <div class="layui-col-md4">
            <!-- 本周热议 -->
            #module("../common/hot-article.html",class="GetHotArticleNodes")

            <!-- 广告栏 -->

            #module("../common/adv.html",class="GetAdvNodes")

            <!-- 友情链接 -->
            #module("../common/fly-link.html",class="GetLinkNodes",type="1")

        </div>
    </div>
</div>
#end