#include("../layout/_layout.html")
<!-- 导航栏  -->
#define body()
#define css()
<link rel="stylesheet" href="/static/css/book.css">
#end
<div class="layui-book-container">
    #module("/common/nav.html",class="GetNavNodes",checked="书签")
    <!-- 主体部分  -->
    <div class="layui-container">
        <div class="layui-row layui-filter-fix">
            #include("type-list.html")
        </div>
        <div class="layui-container layui-book">
            #include("list.html")
        </div>
    </div>
</div>
#define js()
<script>
    layui.use(['layer'],function () {
        let $ = layui.jquery;
        $(document).on("click",".book-cat-name li",function () {
            let index = $(this).index();
            var scroll_offset = $(".layui-book-type").eq(index).offset();
            // 70 是第一个类型的内容距头部的距离
            var scroll = scroll_offset.top - 70;
            console.log(scroll)
            // scrollTop 滚动条相对其顶部的偏移
            $("body,html").animate({
                scrollTop:scroll
            },400);
        })
    })

</script>
#end
#end