#define footer()
<div class="zy-footer">
    <p><a href="http://zy.layui.com/" target="_blank">全民资源网</a> 2019 &copy; 版本所有</p>
</div>

<script type="text/javascript" src="#(resource)/layui/layui.js?v=20181106"></script>
<script>
    layui.cache.page = '';
    layui.cache.user = {
        username: '#(member.nickname??"游客")'
        , uid: '#(member.uid??-1)'
        , avatar: '#(member.avatar??"/static/images/avatar/00.jpg")'
        , experience: '#(member.pointValue??0)'
        , sex: '#(member.sex??"男")'
    };
    layui.config({
        version: "3.0.0"
        , base: '#(resource)/modules/'
    }).extend({
        zy: 'index'
    }).use('zy')

</script>
#@js?()
</body>
</html>
#end