<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>基于 layui 的极简社区页面模版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="zy,layui,前端社区">
    <meta name="description" content="zy社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" href="/static/layui/css/layui.css?v=20181106">
    <link rel="stylesheet" href="/static/css/global.css?v=20181106">
    <link rel="stylesheet" href="/static/css/store.css?v=20181106">
    #@css?()