/**
 
 @Name: zy社区
 @Author: 贤心
 @Site: zy.layui.com
 
 */


/* 全局 */
html,body{overflow-x: hidden;}
html body{margin-top: 61px;}
html{background-color: #F2F2F2;}
i{font-style: normal;}

/* 图标 */


/* 辅助 */
a:hover{color: #009688; transition: all .3s;}
pre{padding: 10px 15px; margin: 10px 0; font-size: 12px; border-left: 6px solid #009688;  background-color: #f8f8f8; font-family: Courier New; overflow: auto;}

.layui-container{padding: 0;}
.zy-main{width: 1079px; min-height: 600px; margin: 0 auto 15px;}
.layui-badge{height: 20px; line-height: 20px; border-radius: 2px;}

.zy-link{color: #01AAED;}
.zy-link:hover{color: #5FB878;}
.zy-grey{color: #999;}

.zy-msg, .zy-error{padding: 10px 15px; line-height: 24px;}
.zy-msg{background-color:#F8F8F8; color:#666;}
.zy-msg a{color:#4F99CF}
.zy-editbox{position: relative;}

.zy-marginTop{margin-top: 15px;}
.zy-mid{display: inline-block; height: 10px; width: 1px; margin: 0 10px; vertical-align: middle; background-color: #e2e2e2;}
.zy-right{position: absolute; right: 15px; top: 0;}

/* 过度 */
.zy-loading{position: absolute; top: 50%; left: 50%; margin: -12px 0 0 -15px; font-size: 30px; color: #c2c2c2;}

/* 头像 */
.zy-avatar{position: absolute; left: 15px; top: 15px;}
.zy-avatar img{display: block; width: 45px; height: 45px; margin: 0; border-radius: 2px;}

/* 徽章 */
.zy-badge-vip{height: 16px; line-height: 16px; padding: 0 3px; background-color: #FF5722; color: #fff; border-radius: 2px;}
.zy-badge-accept{height: 18px; line-height: 18px; padding: 0 5px !important; background-color: #5FB878; border-radius: 2px;}

/* 赞助商 */
.zy-zanzhu{display: block; position: relative; height: 60px; line-height: 60px; margin-top: 10px; padding: 0 20px; text-align: center; font-size: 16px; font-weight: 300; background-color: #009688; color: #fff;}
.zy-zanzhu:first-child{margin-top: 0;}
.zy-zanzhu:hover{opacity: 0.9; color: #fff;}

/* 图标 */
.icon-touxiang{display: inline-block; font-size: 34px;}
.icon-qq, .icon-weibo{font-size: 30px;}
.icon-renzheng{position: relative; color: #FFB800;}
.icon-kiss{font-size: 18px;}
.icon-pinglun1{position: relative; top: 2px;}

/* 头部 */
.zy-header{position: fixed; left: 0; top: 0; z-index: 1000; width: 100%; height: 60px; border-bottom: 1px solid #404553; border-right: 1px solid #404553; border-radius: 0;}
.zy-logo{position: absolute; left: 15px; top: 11px;}
.zy-nav{margin-left: 200px;}
.zy-nav a i{position: absolute; left: 25px; top: 0; padding-right: 10px; font-size: 26px;}
.zy-nav a .icon-shouye, .nav a .icon-shezhi{top: 2px;}

.zy-nav .zy-mid{margin: 0 20px;}

.zy-nav-user{position: absolute; top: 0; right: 0;}
.zy-nav-user .iconfont{position: relative;}
.zy-nav-avatar img{width: 36px; height: 36px; margin-left: 10px; border-radius: 100%;}
.zy-nav-avatar  .icon-renzheng{font-size: 16px; top: 1px;}
.zy-nav-avatar .zy-badge-vip{position: relative; margin-left: 10px;}
.zy-nav-user .layui-nav-child a i{position: relative; top: 2px; margin-right: 10px; font-size: 26px;}

.zy-nav-msg{position:absolute; top: 50%; left: -25px; height: 20px; line-height: 20px; margin-top: -10px; padding:0 6px; background-color: #FF7200; color: #fff; border-radius: 2px;}
.zy-nav-msg:hover{color:#fff;}

.zy-header .layui-nav{padding: 0; background: none;}
.zy-header .zy-nav a{padding: 0 25px 0 20px;}
.zy-header .zy-nav-user li a{padding: 0 10px;}
.zy-header .zy-nav-user li .zy-nav-avatar{padding-right: 0;}
.zy-header .zy-nav-user a.iconfont{color: #A9B7B7;}
.zy-header>.layui-nav-item a{color: rgba(255,255,255,0.5);}
.zy-header .layui-this a{color: #fff;}
.zy-header .layui-nav .layui-this:after,
.zy-header .layui-nav .layui-nav-bar,
.zy-header .zy-nav-user .layui-nav-more{display: none !important;}
.zy-header .zy-nav-user .layui-nav-child{left: auto; right: 0; width: 120px; min-width: 0;}

/*搜索 */

.layui-search { height: 120px;background-color: white;}
#layui-topbar { height: auto;}
#layui-topbar .input-search{width: 100%; padding: 30px 0 10px; text-align: center; background-color: #FFF;}
#layui-topbar .input-search > div{position: relative; display: inline-block;}
#layui-topbar .input-search input{vertical-align: middle; width: 500px; height: 40px; background: #eff4f5; border: none; outline: none; padding-left: 10px; border-top-left-radius: 2px; border-bottom-left-radius: 2px;}
#layui-topbar .input-search button.layui-btn-shop{vertical-align: middle; width: 80px; height: 40px; background: #5eba78; border-top-left-radius: 0px; border-bottom-left-radius: 0px;}
#layui-topbar .input-search button.layui-btn-shop i{font-size: 22px; line-height: 40px;}
#layui-topbar .input-search dl{position: relative; text-align: left; font-size: 12px; line-height: 30px; top: 5px; left: 10px;}
#layui-topbar .input-search dl dd, #layui-topbar .input-search dl dt{display: inline-block; color: #9495a4;}
#layui-topbar .input-search dl dd a{color: #b3b6b8; margin-right: 10px;}
#layui-topbar .input-search dl dd a:hover{color: #9495a4;}
#layui-topbar .input-search a.userBtn{width: 60px; padding: 0; text-align: center; height: 40px; font-size: 12px; margin-left: 20px;}
#layui-topbar .input-search .layui-container{display: none;}
#layui-topbar .input-search.scroll{position: fixed; top: 60px; z-index: 999; top: 0; padding-top: 10px; box-shadow: 0px 3px 3px rgba(0,0,0,0.15);}
#layui-topbar .input-search.scroll .layui-container{display: block;}
#layui-topbar .input-search.scroll .topbar-logo{display: block; position: absolute; left: 15px; bottom: 5px; z-index: 10;}
#layui-topbar .input-search.scroll>div{display: block;}
#layui-topbar .input-search.scroll>div>*{display: inline-block;}
#layui-topbar .input-search.scroll input{width: 350px;}


/*过滤条件*/
.shoplist-filter{margin-top: 30px;}
.shoplist-filter .layui-card-body{padding-left: 25px;}
.shoplist-filter .layui-container li.active a,
.shoplist-filter .layui-container li a:hover{color: #5eba78;}
.shoplist-filter .layui-container p.filtEnd{margin-top: 10px; line-height: 48px;}
.shoplist-filter .layui-container p.filtEnd span{margin: 0 7px; color: #ffa921;}

@media screen and (min-width: 480px){
  #layui-topbar .input-search input/* .shop-nav.shopdata .input-search input*/{width: 300px; display: inline-block;}
  .shop-temp .temp-hot img + p{font-size: 20px;}
  .shop-temp.shoplist #shopList .layui-laypage a,.shop-temp.shoplist #shopList .layui-laypage span{padding: 0 15px; font-size: 18px; line-height: 40px; height: 40px; margin-right: 20px;}
  .shoplist-filter .layui-container div span{width: 100px;}
}



/* 底部 */
.zy-footer {margin: 50px 0 0; padding: 20px 0 30px; line-height: 30px; text-align: center; color: #737573; border-top: 1px solid #e2e2e2;}
.zy-footer a{padding:0 6px; font-weight: 300; color: #333;}
.zy-footer a:hover{color: #777;}
.zy-union{margin-top: 10px; color: #999;}
.zy-union>*{display: inline-block; vertical-align: middle;}
.zy-union a[upyun] img{width: 80px;}
.zy-union span{position: relative; top: 3px;}
.zy-union span a{padding: 0; display: inline; color: #999;}
.zy-union span a:hover{text-decoration: underline;}






/* 面板 */
.zy-panel{margin-bottom: 15px; border-radius: 2px; background-color: #fff; box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);}
.zy-panel[pad20]{padding: 20px;}
.zy-panel-title{position: relative; height: 50px; line-height: 50px; padding: 0 15px; border-bottom: 1px dotted #E9E9E9; color: #333; border-radius: 2px 2px 0 0; font-size: 14px;}
.zy-panel-main{padding: 10px 15px;}

/* 专栏 */
.zy-column{height: 50px; line-height: 50px;}
.zy-column ul li{position: relative; display: inline-block; height: 50px;}
.zy-column ul li a{padding: 0 20px;}
.zy-column ul li.layui-this:after{ position: absolute; bottom: 13px; left: 8px; z-index: 0; width: 50px; height: 22px; border: 1px solid #5FB878; border-radius: 2px;}
.zy-column ul li.layui-this a{color: #5FB878;}
.zy-column ul li .zy-mid{margin: 0 20px;}
.zy-column-right{position: absolute; right: 0; top: 0;}
.zy-column-right .layui-btn{vertical-align: initial;}
.zy-column .layui-badge-dot{position: absolute; top: 50%; left: 50%; margin: -4px 0 0 20px;}

/* 搜索 */
.zy-search{display: inline-block; vertical-align: top; width: 50px; height: 50px; margin-right: 10px; text-align: center; cursor: pointer; font-size: 20px;}
.zy-search .layui-icon{font-size: 20px;}
.zy-search:hover{color: #5FB878;}
.zy-layer-search input{height: 75px; line-height: 75px; width: 500px; padding: 0 15px; font-size: 20px; border: none 0; background: none;}

/* 筛选 */
.zy-filter a{padding: 0 8px; color: #666;}
.zy-filter a.layui-this{color: #5FB878;}
.zy-filter .zy-mid{margin: 0 8px;}
.zy-filter-right{position: absolute; right: 10px; top: 0;}

/* Tab */
.zy-tab{position: relative; padding-top: 3px;}
.zy-tab .layui-tab{margin: 0;}
.zy-tab .layui-tab-title{border-bottom: 1px dotted #e2e2e2;}

.zy-tab-border{position:relative; margin-bottom: 15px;}
.zy-tab-border span,
.zy-tab-border span a{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.zy-tab-border span{border: 1px solid #ddd; border-right: none; font-size:0;}
.zy-tab-border span a{position: relative; height: 36px; line-height: 36px; padding: 0 20px; border-right: 1px solid #ddd; font-size: 14px; background-color: #fff;}
.zy-tab-border .tab-this{color: #000;}
.zy-tab-border .tab-this:after{content: ''; position: absolute; bottom: -1px; left: -1px; width: 100%; height: 1px; padding: 0 1px; background-color: #009688;}

/* 分页 */
.laypage-main,
.laypage-main *{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.laypage-main{margin: 20px 0; border: 1px solid #009E94; border-right: none; border-bottom: none; font-size: 0;}
.laypage-main *{padding: 0 20px; line-height: 36px; border-right: 1px solid #009E94; border-bottom: 1px solid #009E94; font-size: 14px;}
.laypage-main .laypage-curr{background-color:#009E94; color:#fff;}

/* 简易编辑器 */
.zy-edit{position:relative; display: block; top: 1px; left:0; padding:0 10px; border: 1px solid #e6e6e6; border-radius: 2px 2px 0 0; background-color: #FBFBFB;}
.zy-edit span{cursor:pointer; padding:0 10px; line-height: 38px; color:#009E94;}
.zy-edit span i{position: relative; padding-right: 6px; font-size: 18px;}
.zy-edit span:hover{color: #5DB276;}

/* 列表 */

/** 左图右字 */
.zy-list .zy-item-left{float: left; width: 20%}

.zy-list .zy-item-right{float: right;width: 80%}

p.zy-note {
  margin-top: 10px;
}
.zy-list li{overflow: hidden;padding: 10px 15px 10px 0px;border-bottom: 1px dotted #e2e2e2;}
.zy-list li:last-child{border-bottom: none;}
.zy-list li h2,
.zy-list li h2 a,
.zy-list-info{
  /*white-space: nowrap; overflow: hidden; */
  text-overflow: ellipsis;}
.zy-list li h2{ font-size: 0;}
.zy-list li h2 a{max-width: 90%;padding-right: 10px;font-size: 16px;line-height: 30px;}
.zy-list li h2 .layui-badge{top: 0px; height: 16px; line-height: 16px; padding: 0 5px; margin-right: 10px; font-size: 12px; border: 1px solid #5FB878; background: none; color: #5FB878;}

.zy-list-info{position: relative; font-size: 13px; color: #999;}
.zy-list-info>*{padding-right: 15px;}
.zy-list-info a[link]{color: #999;}
.zy-list-info a[link]:hover{color: #5FB878;}
.zy-list-info .icon-renzheng{position: relative; top: 1px; margin-right: 3px;}
.zy-list-info .zy-badge-vip{position: relative; margin-left: 2px;}
.zy-list-kiss{color: #FF5722;}
.zy-list-nums{position: absolute; right: 0; top: 0; padding-right: 0!important;}
.zy-list-nums i{position: relative; padding: 0 3px 0 15px;}

.zy-list-badge{position: absolute; right: 15px; top: 15px; font-size: 0;}
.zy-list-badge .layui-badge{margin-left: 5px; border-radius: 2px; font-size: 12px;}

/* 单行列表 */
.zy-list-one .zy-panel-title{margin-bottom: 5px;}
.zy-list-one dd{margin: 0 15px; line-height: 26px; white-space: nowrap; overflow: hidden; list-style: decimal-leading-zero inside; *list-style-type: decimal inside; color: #009E94;}
.zy-list-one dd a,
.zy-list-one dd span{display: inline-block; *display: inline; *zoom: 1; vertical-align: top; font-style: normal}
.zy-list-one dd a{max-width: 85%; margin-right: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 14px;}
.zy-list-one dd span{font-size: 12px; color: #ccc;}
.zy-list-one dd:last-child{padding-bottom: 5px;}

body .layui-edit-face{ border:none; background:none;}
body .layui-edit-face  .layui-layer-content{padding:0; background-color:#fff; color:#666; box-shadow:none}
.layui-edit-face .layui-layer-TipsG{display:none;}
.layui-edit-face ul{position:relative; width:372px; padding:10px; border:1px solid #D9D9D9; background-color:#fff; box-shadow: 0 0 20px rgba(0,0,0,.2);}
.layui-edit-face ul li{cursor: pointer; float: left; border: 1px solid #e8e8e8; height: 22px; width: 26px; overflow: hidden; margin: -1px 0 0 -1px; padding: 4px 2px; text-align: center;}
.layui-edit-face ul li:hover{position: relative; z-index: 2; border: 1px solid #eb7350; background: #fff9ec;}

/* 签到 */
.zy-signin cite{padding: 0 5px; color: #FF5722; font-style: normal;}
.zy-signin .layui-badge-dot{top: -7px; margin-left: 0px;}
.zy-signin-list{padding: 0; line-height: 30px;}
.zy-signin-list .layui-tab-item{padding: 10px; height: 320px; overflow-x: hidden; overflow-y: auto;}
.zy-signin-list li{margin-top: 5px; padding-bottom: 5px; border-bottom: 1px dotted #e2e2e2; white-space: nowrap;}
.zy-signin-list li:first-child{margin-top: 0;}
.zy-signin-list li:last-child{border: none 0;}
.zy-signin-list img{width: 30px; height: 30px; margin-right: 10px; border-radius: 2px;}
.zy-signin-list span{padding-left: 10px;}
.zy-signin-list span i{color: #FF5722;}
.zy-signin-list .zy-none{padding-top: 20px; min-height: 0;}
.zy-signin-days{position: absolute; right: 15px; padding-left: 10px; color: #999;}
.zy-signin-main{position: relative; height: 38px; padding: 24px 15px; text-align: center;}
.zy-signin-main span{padding-left: 10px;}

/* 榜单 */
.zy-rank{padding-bottom: 10px;}
.zy-rank dl{position: relative; overflow: hidden; margin-left: 20px; text-align: center; font-size: 0;}
.zy-rank dd{position: relative; width: 65px; height: 85px; margin: 10px 25px 5px 0; display:inline-block; *display:inline; *zoom:1; vertical-align:top; font-size:12px;}
.zy-rank dd a img{width: 65px; height: 65px; border-radius: 2px;}
.zy-rank dd a cite{ position:absolute; bottom: 20px; left: 0; width: 100%; height:20px; line-height:20px; text-align:center; background-color:rgba(0,0,0,.2); color:#fff; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.zy-rank dd a:hover cite{display: block;}
.zy-rank dd a i{position:absolute; bottom: 0; left: 0; width: 100%; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-style: normal;}

/* 静态列表 */
.zy-list-static li{line-height: 26px; list-style-position: inside; list-style-type: disc; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.zy-list-static li a{color: #01AAED;}
.zy-list-static li a:hover{opacity: 0.8;}

/* 单行列表 */
.jie-row li{position: relative; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #E9E9E9; font-size: 0;}
.jie-row li *{position: relative; display:inline-block; *display:inline; *zoom:1; vertical-align: top; line-height: 20px; font-size:12px;}
.jie-row li span{padding: 0 6px; margin-right: 10px; background-color: #DADADA; color:#fff; font-size:12px;}
.jie-row li .zy-stick{background-color:#393D49;}
.jie-row li .zy-jing{background-color:#CC0000;}
.jie-row li .jie-status{margin:0 10px 0 0;}
.jie-row li .jie-status-ok{background-color:#8FCDA0;}
.jie-row li a{ padding-right:15px; font-size:14px;}
.jie-row li cite{padding-right:15px;}
.jie-row li i, .jie-row li em, .jie-row li cite{font-size:12px; color:#999; font-style: normal;}
.jie-row li .mine-edit{margin-left:15px; padding:0 6px; background-color: #8FCDA0; color:#fff; font-size:12px;}
.jie-row li em{position:absolute; right:0; top:0;}
.jie-row li .jie-user{}
.jie-row li .jie-title{max-width: 70%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.jie-row li .jie-user img{position:relative; top: 16px; width: 35px; height: 35px;}

/* Detail页 */
.detail-box{padding: 20px;}
.detail h1{font-size: 24px; line-height: 36px;}
.zy-detail-info{position: relative; margin: 10px 0 15px;}
.zy-detail-info .layui-btn{height: 20px; line-height: 20px; vertical-align: top; border-radius: 0;}
.zy-detail-info .layui-btn+.layui-btn{margin-left: 0;}
.zy-admin-box{position: relative; display: inline-block; vertical-align: top; margin-left: 20px;}
.zy-detail-info .zy-list-nums{top: -3px; font-size: 16px;}
.zy-detail-info .zy-list-nums i{padding: 0 3px 0 15px; font-size: 22px; color: #999;}

.detail-about{position: relative; line-height: 20px; padding: 15px 15px 15px 75px; font-size: 13px; background-color: #f8f8f8; color: #999;}
.detail-about .jie-status, .detail-about .jie-status-ok{color:#fff;}
.detail-about .zy-jing{padding:0 6px; background-color:#c00; color:#fff;}
.detail-about .detail-hits{position: relative; top: 5px; line-height: 20px;}
.zy-detail-user{white-space: nowrap; overflow: hidden;}
.zy-detail-user a{padding-right: 10px; font-size: 14px;}
.zy-detail-user .icon-renzheng{top: 1px;}

.detail-hits span{height: 20px; line-height: 20px;}
.detail-hits .layui-btn{border-radius: 0;}
.detail-hits .layui-btn+.layui-btn{margin-left: 5px;}
.detail-hits .jie-admin{margin-right: 1px;}
.detail-body{margin: 20px 0 0; min-height: 306px; line-height: 26px; font-size: 16px; color: #333; word-wrap: break-word;}
.detail-body p{margin-bottom:15px;}
.detail-body a{color:#4f99cf;}
.detail-body img{max-width: 100%; cursor: crosshair;}
.detail-body table{margin: 10px 0 15px;}
.detail-body table thead{background-color:#f2f2f2;}
.detail-body table th, 
.detail-body table td{padding: 10px 20px; line-height: 22px; border: 1px solid #DFDFDF; font-size: 14px; font-weight: 400;}
.detail .page-title{ border: none; background-color: #f2f2f2;}

/* 发帖 */
.layui-form-item.layui-col-space15{margin-bottom: 7.5px;}


/* 求解管理 */
.jie-admin{cursor: pointer;}
.detail-hits .jie-admin{color: #fff; padding: 0 10px; }
.detail-hits .jie-admin a{color: #fff;}
.jieda-admin{position:absolute; right: 0; top: 4px;}

/* 回答 */
.jieda{margin-bottom: 30px;}
.jieda li{position: relative; padding: 20px 0 10px; border-bottom: 1px dotted #DFDFDF;}
.jieda li:last-child{border-bottom: none;}
.jieda .zy-none{height: 50px; min-height: 0;}
.jieda .icon-caina{position:absolute; right:10px; top:15px; font-size:60px; color: #58A571;}

.detail-about-reply{padding: 0 0 0 55px; background: none;}
.detail-about-reply .detail-hits{left: 0; bottom: 0;}
.detail-about-reply .zy-avatar{left: 0; top: 0;}

.jieda-body{margin: 25px 0 20px; min-height: 0; line-height: 24px; font-size:14px;}
.jieda-body p{margin-bottom: 10px;}
.jieda-body a{color:#4f99cf}
.jieda-reply{position:relative;}
.jieda-reply span{padding-right:20px; color:#999; cursor:pointer;}
.jieda-reply span:hover{color:#666;}
.jieda-reply span i{margin-right:5px; font-size:16px;}
.jieda-reply span em{font-style: normal;}
.jieda-reply span .icon-zan{font-size: 22px;}
.jieda-reply .zanok,
.jieda-reply .jieda-zan:hover{color:#c00}
.jieda-reply span .icon-svgmoban53{position: relative; top: 1px;}


/* 用户中心 */
body .zy-user-main{position: relative; min-height: 600px;}
.zy-user-main>.layui-nav{position: absolute; left: 0; top: 0; z-index: 1000; height: 100%; padding: 10px 0;}
.zy-user-main>.layui-nav .layui-icon{position: relative; top: 2px; font-size: 20px; margin-right: 10px;}
.zy-user-main>.zy-panel{min-height: 575px; margin: 0 0 10px 215px;}
.zy-user-main .zy-none{min-height: 0;}
.zy-panel-user[pad20]{padding-top: 5px;}

.zy-form-app{margin-top:30px;}
.zy-form-app .iconfont{font-size:26px; padding: 0 5px;}
.zy-form-app .icon-qq{color:#7CA9C9}
.zy-form-app .icon-weibo{color:#E6162D}

.user-tab{margin:20px 0;}
.user-about{position:relative; padding:0 0 0px 20px; border-left:1px solid #DFDFDF; text-align:center;}
.user-about .user-avatar{width:100px; height:100px; border-radius:100%;}
.user-about p{line-height:30px;}
.user-about p span{padding:0 5px; color:#999;}

/* 个人主页 */
.zy-home{position: relative; padding: 30px 0 30px; text-align: center;}
.zy-home img{width:120px; height:120px; border-radius:100%;}
.zy-home h1{font-size:26px; line-height:30px; margin-top:10px;}
.zy-home h1 span{font-size:14px; color:#999;}
.zy-home h1 .icon-nan{color:#4EBBF9}
.zy-home h1 .icon-nv{color:#F581B1}
.zy-home-sign{padding: 0 10px; color: #999; margin-top: 10px;}
.zy-home .icon-renzheng{display: inline-block; width: 20px; height: 20px; line-height: 20px; top: 45px; left: -15px; background-color: #FFB800; color: #fff; border-radius: 50%; font-size: 12px;}

.zy-home-info i{padding-right: 5px; padding-left: 10px; color: #666;}
.zy-home-info span{color: #999;}
.zy-sns{margin-top: 10px;}

.zy-home-jie .jie-row,
.zy-home-da .home-jieda{min-height: 500px; padding: 5px 20px;}

/*.home-jieda li{margin-bottom:20px; padding-bottom:10px; line-height:24px; border-bottom: 1px dotted #DFDFDF;}*/
.home-jieda li{ margin-bottom:20px; line-height:24px;}
.home-dacontent{margin-top:10px; padding:10px 15px; background-color:#F2F2F5; border-radius:5px; word-wrap: break-word;;}
.home-dacontent pre{ background-color:#F2F2F5;}
.home-dacontent img{max-width:100%;}
.home-jieda li a{padding:0 5px; color:#4F99CF;}
.home-jieda li p{color:#999;}
.home-jieda li p span{padding-right:5px;}

/* 我的消息 */
#LAY-minemsg{min-height:420px;}
.mine-msg li{position:relative; margin-bottom: 15px; padding: 10px 0 5px; line-height:24px; border-bottom:1px dotted #E9E9E9}
.mine-msg li cite{padding: 0 5px; color: #4F99CF;}
.mine-msg li i{color:#4F99CF; padding-right:5px;}
.mine-msg li>p{position: relative; margin-top: 5px; line-height: 26px; text-align: right;}
.mine-msg li>p span{position: absolute; left: 0; top: 0; color:#999;}
.mine-msg li .zy-delete{position: relative; top: -3px;}
.mine-msg li .layui-elem-quote p[download]{padding: 10px 0 5px;}

/* 设置 */
.avatar-add{position:relative; width:373px; height:373px; background-color:#F2F2F5;}
.avatar-add .upload-img{position:absolute; left:50%; top:35px; margin:0 0 0 -56px;}
.avatar-add img{position:absolute; left:50%; top:50%; width:168px; height:168px; margin:-50px 0 0 -84px; border-radius:100%;}
.avatar-add .loading{display:none; position:absolute; width:100%; height:100%; left:0; top:0; padding: 0; background-color:#000; opacity:0.5; filter: Alpha(opacity=50);}
.avatar-add p{position:absolute; top:70px; width:100%; margin-top: 10px;; font-size:12px; text-align:center; color:#999;}
.app-bind li{margin-bottom:10px; line-height:30px; color:#999;}
.app-bind li .iconfont{position: relative; top: 3px; margin-right: 5px; font-size:28px; }
.app-bind .app-havebind{color:#333;}
.app-bind .app-havebind .icon-qq{color:#7CA9C9}
.app-bind .app-havebind .icon-weibo{color:#E6162D}


/* 广告 */
.zy-ad{position: relative; background-color: #f2f2f2; overflow:hidden;}
.zy-ad:before{content: '广告位'; position: absolute; z-index: 0; top: 50%; left: 50%; left: 50%; margin: -10px 0 0 -25px; color: #aaa; font-size: 18px; font-weight: 300;}
.zy-ad div{position: relative; z-index: 1;}

/* 友链 */
.zy-link dd{display: inline-block; vertical-align: top;}
.zy-link a{line-height: 24px; padding-right: 15px;}

/* 404或提示 */
.zy-none{min-height: 600px; text-align: center; padding-top:50px; color: #999;}
.zy-none .iconfont{line-height: 300px; font-size: 300px; color: #393D49;}
.zy-none .icon-tishilian{display: inline-block; margin: 30px 0 20px;}
.zy-none p{margin-top: 50px; padding: 0 15px; font-size: 20px; color: #999; font-weight: 300;}
.zy-list-one .zy-none{min-height: 70px;}


@media screen and (max-width: 768px) {
	.zy-main{width: 100%;}

  /* 顶边距 */
  .zy-marginTop{margin-top: 0;}

  /* 头部 */
  .zy-header .zy-nav-user li .zy-nav-avatar{padding-right: 15px;}
  .zy-header .zy-nav-user{margin-right: 5px;}

  /* 专栏 */
  .zy-column{height: auto;}
  .zy-column ul{padding: 10px; font-size: 0;}
  .zy-column ul li{float: left; width: 33.33%; height: 36px; line-height: 36px; font-size: 14px; vertical-align: middle; text-align: center; box-sizing: border-box;}
  .zy-column-right{right: 10px;}
  .zy-column ul li.layui-this:after{display: none;}

  /* 页脚 */
  .zy-footer{margin-top: 0; border-top: none;}

  /* 分页 */
  .laypage-main a, .laypage-main span{display: none;}
  .laypage-main .laypage-prev,
  .laypage-main .laypage-curr,
  .laypage-main .laypage-next{display: inline-block;}

  /* 列表 */
  .zy-list li h2 a{max-width: 72%;}

  /* Detail 页 */
	.zy-admin-box{display: block; margin: 0; margin-top: 10px;}
	.zy-detail-info .zy-list-nums{top: -2px;}
	.zy-edit span{padding: 0 6px;}

  /* 案例 */
  .zy-case-list,
  .zy-case-list li{width: 100%;  -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important;}
  .zy-case-img{text-align: center;}
  .zy-case-img img{max-width: 100%;}
  .zy-case-banner{width: 300px; margin-left: -150px;}

  body .zy-user-main{width: auto;}
  .zy-user-main>.layui-nav{left: -300px; transition: all .3s; -webkit-transition: all .3s;}
  .zy-user-main>.zy-panel-user{width: auto; margin-left: 0; transition: all .3s; -webkit-transition: all .3s;}
  .site-tree-mobile{display: block!important; position: fixed; z-index: 100000; bottom: 20px; left: 10px; width: 50px; height: 50px; line-height: 50px; border-radius: 2px; text-align: center; background-color: rgba(0,0,0,.7); color: #fff;}
  .site-mobile .site-tree-mobile{display: none !important;}
  .site-mobile .zy-user-main>.layui-nav{left: 0;}
  .site-mobile .site-mobile-shade{content: ''; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.9); z-index: 999;}




}
