#include("../layout/_layout.html")
<!-- 导航栏  -->
#define body()

#module("/user/user-info.html",class="GetUserInfo",uid=member.uid)

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6 fly-home-jie">
            <div class="fly-panel">
                <h3 class="fly-panel-title">#(member.nickname??) 最近的提问</h3>
                #module("/user/common/ask-list.html",class="GetAskList",uid=member.uid)
            </div>
        </div>

        <div class="layui-col-md6 fly-home-da">
            <div class="fly-panel">
                <h3 class="fly-panel-title">#(member.nickname??) 最近的回答</h3>
                #module("/user/common/reply-list.html",class="GetCommentList",uid=member.uid)
            </div>
        </div>
    </div>
</div>
#end
#define js()
<script>
    layui.cache.page = "user";
</script>
#end