#if(data??)
<div class="fly-home fly-panel" style="background-image: url();">
    <img src="#(data.avatar??'https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg')" alt="#(data.nickname)">
    <i class="iconfont icon-renzheng" title="Fly社区认证"></i>
    <h1>
        #(data.nickname)
        <i class="iconfont icon-nan"></i>
        <!-- <i class="iconfont icon-nv"></i>  -->
        <i class="layui-badge fly-badge-vip">#(data.vipName)</i>
        <!--
        <span style="color:#c00;">（管理员）</span>
        <span style="color:#5FB878;">（社区之光）</span>
        <span>（该号已被封）</span>
        -->
    </h1>

    <p style="padding: 10px 0; color: #5FB878;">认证信息：layui 作者</p>

    <p class="fly-home-info">
        <i class="iconfont icon-kiss" title="飞吻"></i><span style="color: #FF7200;">#(data.pointValue)</span>
        <i class="iconfont icon-shijian"></i><span>#date(data.createTime,"yyyy-MM-dd") 加入</span>
        <i class="iconfont icon-chengshi"></i><span>#(data.city??'广州')</span>
    </p>

    <p class="fly-home-sign">（#(data.city??'这个人懒得留下签名')）</p>

    <!--<div class="fly-sns" data-user="">-->
        <!--<a href="javascript:;" class="layui-btn layui-btn-primary fly-imActive" data-type="addFriend">加为好友</a>-->
        <!--<a href="javascript:;" class="layui-btn layui-btn-normal fly-imActive" data-type="chat">发起会话</a>-->
    <!--</div>-->
</div>
#end