#include("../layout/_layout.html")
<!-- 导航栏  -->
#define body()
#define css()
<link rel="stylesheet" href="/static/css/book.css?v=20181106">
#end
#module("/common/menu.html",class="GetCategoryNodes",checked=data.type??'')
<!-- 主体部分  -->
<div class="layui-container">
    <div class="layui-row layui-filter-fix">
        #include("type-list.html")
    </div>
    <div class="layui-container layui-book">
        <div class="layui-book-type">
            <blockquote class="layui-elem-quote">生活工具</blockquote>
            <div class="layui-book-list">
                <ul class="layui-row layui-col-space20">
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-book-type">
            <blockquote class="layui-elem-quote">视频网站</blockquote>
            <div class="layui-book-list">
                <ul class="layui-row layui-col-space20">
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-book-type">
            <blockquote class="layui-elem-quote">视频网站</blockquote>
            <div class="layui-book-list">
                <ul class="layui-row layui-col-space20">
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-book-type">
            <blockquote class="layui-elem-quote">视频网站</blockquote>
            <div class="layui-book-list">
                <ul class="layui-row layui-col-space20">
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-book-type">
            <blockquote class="layui-elem-quote">视频网站</blockquote>
            <div class="layui-book-list">
                <ul class="layui-row layui-col-space20">
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-book-type">
            <blockquote class="layui-elem-quote">视频网站</blockquote>
            <div class="layui-book-list">
                <ul class="layui-row layui-col-space20">
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-book-type">
            <blockquote class="layui-elem-quote">视频网站</blockquote>
            <div class="layui-book-list">
                <ul class="layui-row layui-col-space20">
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">
                            百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://ai.5118.com">内容神器
                            <div class="book-item-desc">最大的资源库</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://tinypng.com">图片压缩
                            <div class="book-item-desc">hhshshshs</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                    <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <a href="https://www.baiduwp.com/">百度下载器
                            <div class="book-item-desc">不限速，正常下载</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
#define js()
<script>
    layui.use(['layer'],function () {
        let $ = layui.jquery;
        var scrollUpBox = $(".layui-book");
        $(document).on("click",".book-cat-name li",function () {
            let index = $(this).index();
            let scollHeight = 0;
            if (index == 0) {
                scollHeight = 70;
            }
            for (let i = 0; i < index; i++) {
                let contentHeight = $(".layui-book-type").eq(index).css("height");
                let itemHeight = parseInt(contentHeight);
                scollHeight -=itemHeight;
            }
            scrollUpBox.animate({
                    marginTop: scollHeight
                }
                , 400);
        })
    })

</script>
#end
#end