#for(item:data)
<div class="layui-book-type">
    <blockquote class="layui-elem-quote"></blockquote>
    <div class="layui-book-list">
        <ul class="layui-row layui-col-space20">
            <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                <a href="https://www.baiduwp.com/">
                    百度下载器
                    <div class="book-item-desc">不限速，正常下载</div>
                </a>
            </li>
            <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                <a href="https://ai.5118.com">内容神器
                    <div class="book-item-desc">最大的资源库</div>
                </a>
            </li>
            <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                <a href="https://tinypng.com">图片压缩
                    <div class="book-item-desc">hhshshshs</div>
                </a>
            </li>
            <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                <a href="https://www.baiduwp.com/">百度下载器
                    <div class="book-item-desc">不限速，正常下载</div>
                </a>
            </li>
            <li class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                <a href="https://www.baiduwp.com/">百度下载器
                    <div class="book-item-desc">不限速，正常下载</div>
                </a>
            </li>
        </ul>
    </div>
</div>
#end