<div class="shoplist-filter">
    <div class="layui-container">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="store-cat-item"><span><i class="layui-icon"></i>类型：</span>
                    <ul class="book-cat-name">
                        <li>生活工具</li>
                        <li>网站视频</li>
                        <li>生活工具</li>
                        <li>网站视频</li>
                        <li>生活工具</li>
                        <li>网站视频</li>
                        <li>网站视频</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>