<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>g:/local/maven_test</localRepository>
  <pluginGroups>
  </pluginGroups>

  <proxies>
  </proxies>
  <servers>
	<server>
		<id>rdc-releases</id>
		<username>KfpwJE</username>
		<password>GtAzRdA5z1</password>
	</server>
	<server>
		<id>rdc-snapshots</id>
		<username>KfpwJE</username>
		<password>GtAzRdA5z1</password>
	</server>
	
  </servers>
  
   <mirrors>
		<mirror>
            <id>mirror</id>
            <mirrorOf>!rdc-releases,!rdc-snapshots</mirrorOf>
            <name>mirror</name>
            <url>http://maven.aliyun.com/nexus/content/groups/public</url>
        </mirror>
  </mirrors>
  <profiles>
	<profile>
		<id>development</id>
		<activation>
		  <jdk>1.8</jdk>
		  <activeByDefault>true</activeByDefault>
		</activation>
		<properties>
		  <maven.compiler.source>1.8</maven.compiler.source>
		  <maven.compiler.target>1.8</maven.compiler.target>
		  <maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>
		</properties>
    </profile>
	<profile>
		<id>nexus</id>
		<repositories>
			<repository>
				<id>central</id>
				<url>http://maven.aliyun.com/nexus/content/groups/public</url>
				<releases>
					<enabled>true</enabled>
				</releases>
				<snapshots>
					<enabled>false</enabled>
				</snapshots>
			</repository>
			<repository>
				<id>snapshots</id>
				<url>http://maven.aliyun.com/nexus/content/groups/public</url>
				<releases>
					<enabled>false</enabled>
				</releases>
				<snapshots>
					<enabled>true</enabled>
				</snapshots>
			</repository>
			<repository>
				<id>rdc-releases</id>
				<url>https://repo.rdc.aliyun.com/repository/37876-release-GbGOoG/</url>
				<releases>
					<enabled>true</enabled>
				</releases>
				<snapshots>
					<enabled>false</enabled>
				</snapshots>
			</repository>
			<repository>
				<id>rdc-snapshots</id>
				<url>https://repo.rdc.aliyun.com/repository/37876-snapshot-ZN66bD/</url>
				<releases>
					<enabled>false</enabled>
				</releases>
				<snapshots>
					<enabled>true</enabled>
				</snapshots>
			</repository>
		</repositories>
		<pluginRepositories>
			<pluginRepository>
				<id>central</id>
				<url>http://maven.aliyun.com/nexus/content/groups/public</url>
				<releases>
					<enabled>true</enabled>
				</releases>
				<snapshots>
					<enabled>false</enabled>
				</snapshots>
			</pluginRepository>
			<pluginRepository>
				<id>snapshots</id>
				<url>http://maven.aliyun.com/nexus/content/groups/public</url>
				<releases>
					<enabled>false</enabled>
				</releases>
				<snapshots>
					<enabled>true</enabled>
				</snapshots>
			</pluginRepository>
			<pluginRepository>
				<id>rdc-releases</id>
				<url>https://repo.rdc.aliyun.com/repository/37876-release-GbGOoG/</url>
				<releases>
					<enabled>true</enabled>
				</releases>
				<snapshots>
					<enabled>false</enabled>
				</snapshots>
			</pluginRepository>
			<pluginRepository>
				<id>rdc-snapshots</id>
				<url>https://repo.rdc.aliyun.com/repository/37876-snapshot-ZN66bD/</url>
				<releases>
					<enabled>false</enabled>
				</releases>
				<snapshots>
					<enabled>true</enabled>
				</snapshots>
			</pluginRepository>
		</pluginRepositories>
	</profile>

    </profiles>

    <activeProfiles>
        <activeProfile>nexus</activeProfile>

    </activeProfiles>

</settings>