#include("../layout/_layout.html")
<!-- 导航栏  认可-->
#define body()
#module("/common/column.html",class="GetCategoryNodes")
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="zy-panel detail-box">
                <h1>#(data.title)</h1>
                <div class="zy-detail-info">
                    #if(data.status == 0)
                    <span class="layui-badge">审核中</span>
                    #end
                    <span class="layui-badge layui-bg-green zy-detail-column">#(data.catName)</span>
                    #if(data.status == 5)
                    <span class="layui-badge" style="background-color: #999;">未结</span>
                    #end
                    #if(data.status == 15)
                    <span class="layui-badge" style="background-color: #5FB878;">已结</span>
                    #end
                    #if(data.isTop == 1)
                    <span class="layui-badge layui-bg-black">置顶</span>
                    #end
                    #if(data.isGood == 1)
                    <span class="layui-badge layui-bg-red">精帖</span>
                    #end
                    <div class="zy-admin-box" data-id="#(data.aid)">
                        <!--<span class="layui-btn layui-btn-xs jie-admin" type="del">删除</span>-->

                        <!--<span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1">置顶</span>-->
                        <!--&lt;!&ndash; <span class="layui-btn layui-btn-xs article-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span> &ndash;&gt;-->

                        <!--<span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1">加精</span>-->
                        <!--&lt;!&ndash; <span class="layui-btn layui-btn-xs article-admin" type="set" field="status" rank="0" style="background-color:#ccc;">取消加精</span> &ndash;&gt;-->
                    </div>
                    <span class="zy-list-nums">
                        <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> #(data.commentNum)</a>
                        <i class="iconfont" title="人气">&#xe60b;</i> #(data.browse)
                    </span>
                </div>
                <div class="detail-about">
                    <a class="zy-avatar" href="/member/#(data.member.uid)">
                        <img src="#(data.member.avatar??'https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg')"
                             alt="#(data.member.nickname)">
                    </a>
                    <div class="zy-detail-user">
                        <a href="/member/#(data.member.uid)" class="zy-link">
                            <cite>#(data.nickname)</cite>
                            <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
                            <i class="layui-badge zy-badge-vip">#(data.member.vipName)</i>
                        </a>
                        <span>2017-11-30</span>
                    </div>
                    <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
                        <span style="padding-right: 10px; color: #FF7200">悬赏：#(data.payPoint??0)飞吻</span>
                        <!--<span class="layui-btn layui-btn-xs jie-admin" type="edit"><a href="add.html">编辑此贴</a></span>-->
                    </div>
                </div>
                <div class="detail-body photos">
                    #(data.info??"")
                </div>
            </div>

            <div class="zy-panel detail-box" id="zyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>

                #@comment(data.member.uid,data.status,comment.pageData)

                #@paginate(comment.pageNo, comment.pageTotal, "/detail/"+data.aid+"/page/")

                <div class="layui-form layui-form-pane">
                    <form action="/comment/reply/" method="post">
                        <div class="layui-form-item layui-form-text">
                            <a name="comment"></a>
                            <div class="layui-input-block">
                                <textarea id="L_content" name="content" required lay-verify="required"
                                          placeholder="请输入内容" class="layui-textarea zy-editor"
                                          style="height: 150px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <input type="hidden" name="aid" value="#(data.aid)">
                            <button class="layui-btn" lay-filter="*" lay-submit>提交回复</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <!-- 本周热议 -->
            #module("../common/hot-article.html",class="GetHotArticleNodes")

            <!-- 广告栏 -->

            #module("../common/adv.html",class="GetAdvNodes")

            <!-- 友情链接 -->
            #module("../common/zy-link.html",class="GetLinkNodes",type="1")

        </div>
    </div>
</div>
#end
#define js()
<script>
    layui.config({
        version: "3.0.0"
        , base: '#(resource)/modules/'
    }).extend({
        jie: 'jie'
    }).use('jie')
</script>
#end